<div class="about span12">
	
	<center><h3>Presented by Venture Four Architects</h3></center> 
	<%= link_to image_tag("Venture-Four-logo.png", :align => 'right') %>
	<br />
	<p>
		<b><%= link_to "Venture Four Architects", "#" %></b> was founded in 1990 as a full service Austin architectural firm.  The firm has produced over 800 residences and a variety of commercial building designs in Austin.  The principals contribute over fifty years experience in design, planning,  graphic production and construction management
	</p>
<br /><br /><br />		
	<p>
We are a small, energetic, hands-on, architectural firm. Our projects are defined by responsive design and attention to detail. With open-minded principles and adaptable methods, we have produced a wide variety of custom and speculative residences as well as light commercial buildings.
	</p><br />
		
</div>

