	<div class="container">
<div class="row">
	<div class="center hero-unit">

<h1><center>Custom Modifications</center></h1><br /><br />
		<h4><red>Do you love the layout, but would like a specific style of home?</red></h4>

		<p>No problem, the elevation and style of your home can be custom designed to accommodate just about every floor plan that you see.</p><br />

		 

		<h4><red>Have you found the right design, but would like to make some adjustments to the layout or to the elevation?</red></h4>

		<p>No problem, your adjustments can be made at a reasonable hourly rate.<p><br />
		 
		<h4><red>Do you need a site plan?</red></h4>
		<p>No problem, the firm that designed your plan can work with your survey to provide you with what you need. Or you can work with the designer of your choice to create this page of the drawings.</p><br /><br />

		<p>These skilled architects are happy to further customize these plans, some changes are simple and some are complex.</p>
		<p>Receive a consultation to determine the feasibility and cost to make the changes you desire.</p>
		 
		<h3><red><center>The Consultation Process:</center></red></h3><br />
		<p>For a $125 consultation fee you will receive an estimated cost to make the adjustments you seek.  The $125 will be credited towards the adjustments you make, but are non-refundable if you chose not to make the adjustments</p>

		<P><%= link_to "Submit a consultation Request now to make changes to a plan.", "/contact" %></p>

		<p>Here is some information to include that will allow us to help get you an answer as quicly as possible.</p>

		<p>-> Plan Number</p>
		<p>-> Please describe the adjustments you seek: (new elevation – reduce / enlarge the plan  – flip the plan – add or modify a room – add a bathroom - change the garage door location & etc.)</p>

		<p>If the proposal is acceptable, you then purchase the plan & pay the agreed upon modification cost. The  Consultation fee will be deducted from the cost of the final modification.</p>

		<!--
		Why is there a fee to evaluate the changes that I would like to make?
		A home plan is a collection of linked documents that build upon each other and illustrate a home’s connected systems. A minor change to one area can result in large adjustments needed in other areas. These highly skilled firms will need to set aside ample time to properly evaluate each potential adjustment to determine the time needed to make these changes.
		 -->
		
		<h3><center>Ready to find your next house plan?</center></h3> <p><center><a href="/plans" class="btn btn-primary btn-lg">Search Our Plans</a></center></p> <br /><br />

	</div>
</div>
</div>