	<div class="container">
<div class="row">
	<div class="center hero-unit">
	<h1><center>More Info About Your Purchase</center></h1><br /><br />

	<p>Generally speaking you would spend $2.5 to $5+ per framed foot to design the plans you find on this site from scratch.  The majority of our prices range between $0.75 - $1.15 per <u>heated & cooled</u> square foot.</p> 

	<h4><red>Will this plan build out within your budget?</red></h4>

	<p>Send us the plan you are interested in and we can go over an estimated price to build.  Note however that many plans can have a very dramatic range of possible build prices depending upon the options you choose to go with.  <%= link_to "contact us here", "/contact" %></p>


	<h4><red>Once you have purchased your plan, you will receive detailed drawings that your builder can use to send out to bids.</red></h4> <br /><br />


	  <h4><center>What Does My Purchase Include?</center></h4>

	<p>Your purchase includes the following pages that are stamped by licensed architects within the state of Texas.</p>
	<ul>
		<li><b>One hour consultantation with the Architect who designed the plan.</b> </li>

		<li>The floor plan for all levels.</li>
		<ul>
			<li>This section provides detailed drawings and descriptions of all the elements that will be included on each floor of the home. The home’s exterior footprint, openings and interior rooms are carefully dimensioned. Important features are noted including built-ins, niches and appliances. All doors and windows are identified. Typically this section also includes the square footage information.</li>
		</ul>

		<li>4 sides exterior elevations.</li>
		<ul>
			<li>Elevations are drawings that show how the finished home will approximately look. In this section, elevations of the front, rear and left and right sides of the home are shown. Exterior materials, details and heights are noted on these drawings.</li>
		</ul>

		<li>Cabinet Layout.</li>

		<li>Interior elevations | Varies based on the complexity of the home.</li>
		<ul>
			<li>These elevations show the specific details and design of the kitchen, bathrooms, utility rooms, fireplaces, bookcases, built-in units and other special interior features.</li>
		</ul>


		<li>Roof layout.</li>
		<ul>
			<li>The overall layout and necessary details for roof design are found here.</li>
		</ul>

		<li>Mechanical layout.</li>
		<ul>
			<li>Depicts the electrical and plumbing locations.</li>
		</ul>

	 </ul>
<br />
	 <p>You will receive a license to build 1 home per plan purchase and the rights to print up to 35 copies at your local printer.</p>
	<p>You will receive the file in PDF format.</p>
	<p><em>In many cases the CAD versions of these plans are available for purchase outside of the state of Texas and in some cases for areas outside of Austin.</em></p>

	<h4><center>The Process</center></h4>
	<p>
		<ul>
			<li>Upon your purchase & prior to receiving the PDFs, you will receive a 1 hour consultation with the architect to verify and review the plan details.</li>
			<li>The architect will verify the plan footages, the width & depth, the overhang dimensions, the ridge height, masonry percentage & answer any other questions that you have.</li>
			<li>Prior to the delivery of the PDFs and the license agreement, if you are not completely satisfied , your purchase is fully refundable, accept for $75 to compensate the architect for his time.</li>
			<li>Once the bid set of PDF’s are released your purchase is non-refundable.</li>
			<br />

	<h3><red><center>Interested in modifiying a plan?  <%= link_to "click Here", "/custom_mods" %> </center></red></h3><br /><br />
<h3><center>Ready to find your next house plan?</center></h3> <p><center><a href="/plans" class="btn btn-primary btn-lg">Search Our Plans</a></center></p> <br /><br />

</div>
</div>
</div>