	<div class="container">
<div class="row">
	<div class="center hero-unit">

<h1><center>Answers to your Questions</center></h1><br /><br />

<p><b><red>Question:</b> Do I have everything I need to build my new home?</red></p>

<p><b>Answer:</b></p>

<p>In some unrestricted areas, this is everything you will need to build, along with specifications if desired.</p>

<p><b><red>Question:</b> What else might I need?</red></p>

<p><b>Answer:</b></p>

<p>While not required to build your home in many locations, we recommend the following:</p>
<ul>
	<li>Specifications</li>
			<li>Specifications typically consist of a word document created by your builder that equips trades and vendors with material details and instruction.</li>
	<li>Survey</li>
			<li>The survey is performed by a local land surveyor.</li>
	<li>Site Plan</li>	
			<li>A local designer or architect can provide you with this layout, once given the survey and the floor plan. Note: The architect that designed this plan may also be willing to provide you with a site plan for a fee, depending upon your location.</li>
	<li>An engineered foundation design</li>
			<li>A structural engineer can use these drawings, along with a site specific evaluation to provide you with this design.</li>
	<li>Framing design</li>
			<li>This is often not required in Texas by local authorities, but we recommend using an engineer when possible or a proven professional to provide this design. It will simplify the process for the framers and leaves less room for error. It will also provide accurate and consistent information to send to the lumber yards for pricing comparisons.</li>
	<li>An engineered truss design (for multi-level designs)</li> 
	<li>A landscape design and/or drainage design (when required by local bodies / Architectural Control Committees)</li>
</ul>
<p>Please note that the sub-contractors / trades selected to build your home will often provide additional details, such as cabinet drawings, landscaping design, roof design, HVAC layout and framing material take-offs among other things upon request.:<p/>

<p>In some deed restricted areas, the items listed above will be required. We recommend working with a local home builder and/or becoming familiar with your local requirements (county, city and state) as well as reading through your POA (Property Owner's Association) documents (Bylaws, Covenants and Deed Restrictions) if applicable. There may be other requirements in addition to those listed above, depending upon your location that need to be addressed when submitting for building approval and compliance.<p/>

<p/>If desired these architects will talk you through your particular scenario during your 1 hour consult upon purchase or if you are not quite ready to purchase but have questions, schedule your consult today.<p/>	

<p><b><red>Question:</b> What should I consider when selecting a plan for my property?</red></p>

<p><b>Answer:</b></p>
<ul>
	<li>You will want to evaluate your survey or plat map to determine the width and depth of the lot, while noting any building setbacks and utility easements. This will help you choose the overall dimensions of your home. Note: some building departments will allow the roof overhang to extend beyond the building setbacks while others will not.</li>
	
	<li>Select a design that complements the topography of your lot, whether that is a single story, traditional multiple story, walkout basement, upside down plan or plan with a traditional basement.</li>
	
	<li>You will want to have an understanding of the local building restrictions if applicable. Some restrictions to keep in mind are maximum height requirements, min / max square footages allowed,  garage size / garage entry point and masonry percentage requirements. Among other things, some areas may require the style of the home to fall within a certain genre. </li>
</ul>
<p>If needed, these architects can modify your plan to adhere to your local requirements. In some cases these changes can be fairly simple to implement. Schedule your plan modification consultation now.</p>

<p>When possible, we recommend engaging a builder that is familiar with the area.</p>
<p>If you are building within the Austin,Texas and surrounding areas, feel free to consult <a href="http://www.venturefour.com/">Venture Four Architects</a> or <%= mail_to "remore@venturefour.com", "contact us" %> for further assistance.</p><br /><br />



<h3><center>Ready to find your next house plan?</center></h3> <p><center><a href="/plans" class="btn btn-primary btn-lg">Search Our Plans</a></center></p> <br /><br />

</div>
</div>
</div>