// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logob {
margin-top: 65px;
position: absolute;
border-top: 4px solid #800000;
}

.logo seo img {
margin: 10px;

}

.logo img {
-webkit-border-radius: 6px 6px 6px 6px;
 -moz-border-radius: 6px 6px 6px 6px;
 border-radius: 6px 6px 6px 6px;
box-shadow: 5px 5px 5px #383838 !important;
}
.home-top-right img {

box-shadow: 5px 5px 5px #888888 !important;
margin-bottom: 30px;


-webkit-border-radius: 6px 6px 6px 6px;
 -moz-border-radius: 6px 6px 6px 6px;
 border-radius: 6px 6px 6px 6px;
}

.home-top img {
box-shadow: 5px 5px 5px #000 !important;
margin-bottom: 30px;
-webkit-border-radius: 6px 6px 6px 6px;
 -moz-border-radius: 6px 6px 6px 6px;
 border-radius: 6px 6px 6px 6px;
}

.well {

box-shadow: 5px 5px 5px #888888 !important;
margin-bottom: 30px;
-webkit-border-radius: 6px 6px 6px 6px;
 -moz-border-radius: 6px 6px 6px 6px;
 border-radius: 6px 6px 6px 6px;
}

.field .text_field{
width: 2em;
}
.text_field {
width: 2em;
}
.popular {
float: left !important;
}
.pic img {
width: 300px;
height: 150px;
box-shadow: 5px 5px 5px #000 !important;
margin-bottom: 20px;
-webkit-border-radius: 6px 6px 6px 6px;
 -moz-border-radius: 6px 6px 6px 6px;
 border-radius: 6px 6px 6px 6px;
}

.btn btn-large btn-primary{
font: #fff !important;
}
.about {
background: rgb(238,238,238); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

margin-bottom: 20px;
padding: 10px;
box-shadow: 5px 5px 5px #383838 !important;
margin-bottom: 30px;
-webkit-border-radius: 6px 6px 6px 6px;
 -moz-border-radius: 6px 6px 6px 6px;
 border-radius: 6px 6px 6px 6px;
}

.about img {
padding: 10px;
-webkit-border-radius: 6px 6px 6px 6px;
 -moz-border-radius: 6px 6px 6px 6px;
 border-radius: 6px 6px 6px 6px;

}
