// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border {
border-top: 2px solid #800000;
margin-left: -5px;
align: center;
}
.image img {
box-shadow: 5px 5px 5px #000000 !important;
position: relative;

margin-right: 20px;
margin-top: 10px;
margin-bottom: 10px;
-webkit-border-radius: 6px 6px 6px 6px;
 -moz-border-radius: 6px 6px 6px 6px;
 border-radius: 6px 6px 6px 6px;
}

