// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border {
border-top: 2px solid #888;
}
.image img {

position: relative;
padding: 10px;
}
