
body {
  background-color: #fff;
  background-image: url("blueprint5.png");
  background-attachment:fixed;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.content {
background: transparent;
margin-top: 75px;
}

.btn {
color: #fff !important;
box-shadow: 5px 5px 5px #888888 !important;
margin-top: 15px !important;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 19px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #800000;
  &:visited {
    color: #800000;
  }
  &:hover {
    color: #888;

  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

/* footer */

footer {
margin-left: -10px;
padding: 10px;
border-top: 2px solid #800000;
}

footer a {
  color: #555 !important;
}  

footer a:hover { 
  color: #222 !important;
}

footer small {
  float: left;

}
footer menu {
padding: 5px;
}

footer ul {
margin-top: -15px;
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
  font-size: 125%;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font: #fff;
    font-size: 12px;
    list-style: square;
  }
}

